<div class="album py-5 bg-light">
  <div class="container">
    <div class="row sortable">
      <!-- <%= link_to 'New project item', new_portfolio_path if logged_in?(:admin) %> -->
      <%= render partial: 'portfolio_item', collection: @portfolio_items %>
    </div>
  </div>
</div>
