<section class="jumbotron text-center">
  <div class="container">
    <h1>Album portfolio</h1>
    <p class="lead text-muted">Here's a collection of some previous projects that I did in my own time.
      I also put current project here and may occasionally share my thoughts or
      learning experience while working on my current project on my blog.
    </p>
      <p>
        <%= link_to "About", about_path, class: "btn btn-primary my-2" %>
        <%= link_to "Blog", blogs_path, class: "btn btn-secondary my-2" %>
      </p>
    </div>
  </section>
