<h1>About me</h1>
<div class="row">
  <div class="col-md-4">
    <%= image_tag "gravatar.jpg", width:"220", alt:"Profile photo" %>
  </div>

  <div class="col-md-8">
    <p>I am scared of heights
    but I fell (yes, literally too) in love with bouldering and indoor rock climbing because
    it's a lot of fun climbing. It is solving a big puzzle besides learning to trust my
    belayer. I love socialising with friends over dinner, hot chocolate and movie nights if not browsing around
    at the bookstores (also looking at ya, second hand bookstores with lovely stairs stuck to the bookshelves).</p>
  </div>

</div>
